<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About bean-sentry</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> About bean-sentry </h1>
    <p> bean-sentry is a webapp written in Python that allows raspberry pi footage to be streamed to a browser page.</p>
    <p> Your one-stop-shop to keep an eye on your simmering legumes.  You don't want them to burn, do you?</p>

    {% endblock %}
  </body>
</html>
